.navigation-item{
    display: flex;
    .brand-title{
        margin-right: auto;
        margin-left: 40px;
        a{
            display: flex;
            text-decoration: none;
            color: white
        }
        span {
            margin: 5px;
        }
    }
    .profile-details {
        margin: 10px 20px;
    }
}

.MuiPaper-root.MuiAppBar-root  {
    position: fixed;
    top: 0;
}